@{
    ViewBag.Title = "Главная";
}

<div>
    <img class="img-fluid" src="~/Content/images/indexBackground.jpg" alt="Responsive image" style="height: 300px; vertical-align:central; width:100%;"/>
</div>

<div class="container p-4">
    <div>
        <h3>Шифр Цезаря</h3><hr/>
        <div class="container">
            <p>Это вид шифра подстановки, в котором каждый символ в открытом тексте заменяется символом, находящимся на некотором постоянном числе позиций левее или правее него в алфавите.<br/>Например, в шифре со сдвигом вправо на 3, А была бы заменена на Г, Б станет Д, и так далее.</>
        </div>
        <h3>Хотите попробовать?</h3><hr/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <h2>Шифрование</h2>
                <p>В результате шифрования вы получите текст, который можно будет прочитать только узнав ключ.</p>
                <p><a class="btn btn-secondary" href="/Cryption/Cryption">Зашифровать &raquo;</a></p>
            </div>
            <div class="col-xl-4">
                <h2>Расшифровка</h2>
                <p>Вы знаете ключ от зашифрованного текста? Расшифруйте его у нас!</p>
                <p><a class="btn btn-secondary" href="/Cryption/Decryption">Расшифровать &raquo;</a></p>
            </div>
            <div class="col-xl-4">
                <h2>Подбор ключа</h2>
                <p>Наши алгоритмы попробуют для вас выявить наиболее подходящие ключи</p>
                <p><a class="btn btn-secondary" href="/Cryption/FindKey">Подобрать ключ &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
